<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,262},{84,380}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,8},{84,380}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,174},{86,380}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{86,380}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,392},{90,382}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,6},{90,382}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{86,382}}</string>
                <key>offset</key>
                <string>{-37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{86,382}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,430},{84,378}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,9},{84,378}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,348},{80,380}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{80,380}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,430},{82,378}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,9},{82,378}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,430},{78,368}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{78,368}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,776},{88,380}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,7},{88,380}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,90},{82,382}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{82,382}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{86,382}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{86,382}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,866},{86,382}}</string>
                <key>offset</key>
                <string>{-37,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{86,382}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{88,382}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,5},{88,382}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{88,382}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{88,382}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,388}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{92,388}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{90,388}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,388}}</string>
                <key>sourceSize</key>
                <string>{166,388}</string>
            </dict>
            <key>rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireCircle.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f7d696df3a9612577fa5fb4b1856440:1/1$</string>
            <key>textureFileName</key>
            <string>fireCircle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
